DB_PORT='porta do banco'
DB_USER='usuario'
DB_PASS='senha do banco'
DB_NAME=sistemaTmbNdcImc
DATABASE_URL="banco://usuario:senha@localhost:3306/sistemaTmbNdcImc"
JWT_SECRET="chave_super_secreta"
FRONT_URL="http://localhost:5173"
NODE_ENV='kekw / exemplo muito legal'

EMAIL_USER="sistema.verificacao.login@gmail.com"
EMAIL_PASS="BAIANINHOGAMER@@##!@" 
EMAIL_TOKEN_EXPIRATION_MINUTES=5
